
@import url('https://fonts.googleapis.com/css?family=Bungee');

body{
    line-height: 0;
}
.divBg{
    width:30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;
}

.divBg:hover{
    /*to make an inner shadow on the divs*/
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
}

.dirt{
    background-image: url("dirt.png");
    background-size: contain;
}
.grass{
    background-image: url("grass.png");
    background-size: contain;
}
.tree{
    background-image: url("tree.png");
    background-size: contain;
}
.leaf{
    background-image: url("leaf.jpg");
    background-size: contain;
}
.rock{
    background-image: url("rock.png");
    background-size: contain;
}
.clouds{
    background-size: contain;
    background-color: #FFF;
}
.rick{
    background-size: contain;
    background-image: url("rick.png");
}

#layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: black;
    height: auto;
    width: 170px;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
}

.tool{
    border: 1px white solid;
    width: 80px;
    height: 80px;
    color:white;
}

.tool:hover{
    background-color: blue !important;
}

#tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
}
#inventroy{
    margin-top: -top: 20px;
}
#inventory div{
    display: inline-block;
    border: 1px white solid;
    width: 80px;
    height: 80px;
    color:white;
}
.inventory{
    font-size: 20px;
    text-align: center;
}
#restore{
    font-size: 20px;
    font-family: 'Bungee', cursive;
    margin:15px 0px;
    height:30px;
}
.backgroundRed{
    background: red !important;
}
