
@import url('https://fonts.googleapis.com/css?family=Bungee');

body{
    line-height: 0;
}
.divBg{
    width:30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;


}
.divBg:not(.clouds){
    animation: colorchange 150s; /* animation-name followed by duration in seconds*/
       /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 150s; /* Chrome and Safari */
}


 @keyframes colorchange
 {
   0%   {background-color: #91C1FC;}
   10   {background-color: #81ade2;}
   10%  {background-color: #74a2db;}
   20%  {background-color: #1464c5;}
   30%  {background-color: #5b88c1;}
   40% {background-color: #3a5e8c;}
   50% {background-color: #000e1f;}
   60%  {background-color: #3a5e8c;}
   70%  {background-color: #5b88c1;}
   80%  {background-color: #1464c5;}
   90%  {background-color: #74a2db;}
   100%  {background-color: #81ade2;}
 }

 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
 {
     0%   {background-color: #91C1FC;}
     10   {background-color: #81ade2;}
     10%  {background-color: #74a2db;}
     20%  {background-color: #1464c5;}
     30%  {background-color: #5b88c1;}
     40% {background-color: #3a5e8c;}
     50% {background-color: #000e1f;}
     60%  {background-color: #3a5e8c;}
     70%  {background-color: #5b88c1;}
     80%  {background-color: #1464c5;}
     90%  {background-color: #74a2db;}
     100%  {background-color: #81ade2;}
 }

.divBg:hover{
    /*to make an inner shadow on the divs*/
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
}

.dirt{
    background-image: url("dirt.png");
    background-size: contain;
}
.grass{
    background-image: url("grass.png");
    background-size: contain;
}
.tree{
    background-image: url("tree.png");
    background-size: contain;
}
.leaf{
    background-image: url("leaf.jpg");
    background-size: contain;
}
.rock{
    background-image: url("rock.png");
    background-size: contain;
}
.clouds{
    background-size: contain;
    background-color: #FFF;
}
.rick{
    background-size: contain;
    background-image: url("rick.png");
}

#layout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: black;
    height: auto;
    width: 170px;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
}

.tool{
    border: 1px white solid;
    width: 80px;
    height: 80px;
    color:white;
}

.tool:hover{
    background-color: blue !important;
}

#tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
}
#inventroy{
    margin-top: -top: 20px;
}
#inventory button{
    display: inline-block;
    border: 1px white solid;
    width: 80px;
    height: 80px;
    color:white;
}
.inventory{
    font-size: 20px;
    text-align: center;
}
#restore{
    font-size: 20px;
    font-family: 'Bungee', cursive;
    margin:15px 0px;
    height:30px;
}
.backgroundRed{
    background: red !important;
}
